@charset "UTF-8";
.inner {
  width: 1100px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .inner {
    width: 97%;
  }
}

a {
  text-decoration: none;
}

h2 {
  font-size: 40px;
  letter-spacing: 10px;
}

header {
  background-color: #fff;
}
header .hd-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .hd-icon i {
  padding: 15px 0;
  color: #777;
}
header .hd-contact a {
  color: #fff;
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
  transition: color 0.3s;
}
header .hd-contact a:hover {
  color: #333;
}
header .hamburger-menu {
  display: none;
}
@media (max-width: 767px) {
  header .hd-contact {
    display: none;
  }
  header .hamburger-menu {
    display: block;
    position: relative;
  }
  header #menu-btn-check {
    display: none;
  }
  header .menu-btn {
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  header .menu-btn span, header .menu-btn span:before, header .menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #3584bb;
    position: absolute;
  }
  header .menu-btn span:before {
    bottom: 8px;
  }
  header .menu-btn span:after {
    top: 8px;
  }
  header #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0); /*メニューオープン時は真ん中の線を透明にする*/
  }
  header #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  header #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  header #menu-btn-check:checked ~ .menu-content {
    display: block;
  }
}

.back-img {
  background-image: url(../img/keyvisual/keyvisual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.back-img .key-text {
  padding: 400px 0;
}
.back-img .key-text h1 {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
}
.back-img .key-text p {
  margin-top: 30px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 1199px) {
  .back-img .key-text {
    padding: 250px 0;
  }
}
@media (max-width: 767px) {
  .back-img .key-text {
    padding: 200px 0;
  }
  .back-img .key-text h1 {
    font-size: 40px;
  }
  .back-img .key-text p {
    font-size: 30px;
  }
}

.work {
  background-color: #e3f2fd;
}
.work .work-content {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) {
  .work .work-content {
    flex-direction: column;
  }
}
.work .work-img {
  text-align: center;
  width: 40%;
}
.work .work-img img {
  width: 250px;
}
@media (max-width: 767px) {
  .work .work-img {
    width: 100%;
  }
}
.work .work-text {
  width: 60%;
  text-align: center;
}
.work .work-text h2 {
  margin-top: 20px;
}
.work .work-text p {
  margin-top: 35px;
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}
@media (max-width: 1199px) {
  .work .work-text {
    width: 100%;
    padding-bottom: 50px;
  }
}

.skills {
  background-color: #fff;
}
.skills .skill-content {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
}
.skills .skill-content .skill-list {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills .skill-content .skill-list li {
  width: 300px;
  height: 300px;
  margin-top: 100px;
  margin-right: 100px;
}
.skills .skill-content .skill-list li:nth-child(1), .skills .skill-content .skill-list li:nth-child(2), .skills .skill-content .skill-list li:nth-child(3) {
  margin-top: 0;
}
.skills .skill-content .skill-list li:nth-child(3n) {
  margin-right: 0;
}
.skills .skill-content .skill-list li img {
  width: 100%;
  opacity: 0.7;
}
.skills .skill-content .skill-list li img:hover {
  opacity: 1;
}
@media (max-width: 1199px) {
  .skills .skill-content .skill-list {
    flex-direction: column;
    align-items: center;
  }
  .skills .skill-content .skill-list li {
    margin: 0;
  }
  .skills .skill-content .skill-list li:nth-child(3n) {
    margin-bottom: 80px;
  }
}

.plan {
  background-color: #d0dfea;
}
.plan .plan-content {
  text-align: center;
  padding: 50px 0;
}
.plan .plan-table-content {
  width: 100%;
  overflow: auto;
  margin: 50px auto 0 auto;
}
.plan .plan-table {
  width: 100%;
}
.plan .plan-table .plan-tbody {
  width: 100%;
}
.plan .plan-table tr {
  background-color: #6ba7eb;
}
.plan .plan-table tr:nth-child(2), .plan .plan-table tr:nth-child(4), .plan .plan-table tr:nth-child(6) {
  background-color: #f9f9f9;
}
.plan .plan-table tr:nth-child(3), .plan .plan-table tr:nth-child(5) {
  background-color: #e0efff;
}
.plan .plan-table tr th {
  width: 25%;
  font-size: 16px;
  line-height: 26px;
  border-left: 2px solid #fff;
  padding: 10px;
}
.plan .plan-table tr th:first-child {
  border-left: none;
}
@media (max-width: 767px) {
  .plan .plan-table tr th {
    font-size: 14px;
    line-height: 22px;
  }
}
.plan .plan-table tr td {
  width: 25%;
  font-size: 14px;
  line-height: 26px;
  border-left: 2px solid #fff;
  padding: 10px;
}
@media (max-width: 767px) {
  .plan .plan-table tr td {
    font-size: 12px;
    line-height: 22px;
  }
}

.sns {
  background-color: #e3f2fd;
}
.sns .sns-content {
  padding: 200px 0;
}
.sns .sns-list {
  display: flex;
  text-align: center;
  justify-content: center;
}
.sns .sns-list li {
  width: 185pX;
  transition: background-color 0.5s;
}
.sns .sns-list li a {
  display: inline-block;
  width: 100%;
}
.sns .sns-list li a i {
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
}
.sns .sns-list li:hover {
  background-color: #fff;
}
@media (max-width: 767px) {
  .sns .sns-content {
    padding: 50px 0;
  }
  .sns .sns-content .sns-list {
    flex-direction: column;
    align-items: center;
  }
  .sns .sns-content .sns-list li {
    width: 100%;
    margin: 50px 15px;
  }
}

footer {
  background-color: #cfd8cd;
  text-align: right;
}
footer p {
  padding: 20px 0;
  font-size: 10px;
  letter-spacing: 0.5px;
}/*# sourceMappingURL=style_scss.css.map */